@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c6d7fc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.left-sidebar {
  width: 350px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-right: 1px solid #f2f3f5;
  display: flex;
  flex-direction: row;
}

.right-sidebar {
  width: 300px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 20px;
  padding-right: 10px;
  border-left: 1px solid #f2f3f5;
}

.main {
  margin-left: 350px;
  margin-right: 300px;
  height: 100vh;
}

.sidebar-sections {
  height: 100%;
}

.side-menu {
  width: 60px;
  border-right: 1px solid #f2f3f5;
}

.Chat-history {
  height: 100%;
  width: calc(100% - 60px);
}

.top {
  width: 100%;
  height: 60px;
}
.menu {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  margin-bottom: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #34eb9e;
  font-size: 20px;
}

.logo-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-size: 30px;
  color: #34eb9e;
}

.search-wrapper {
  width: 75%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-wrapper input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 13px;
}

.top-history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 70px;
}

.new-message-btn {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.new-message-btn i {
  font-size: 20px;
}
.chat-history {
  height: calc(100% - 100px);
  padding: 20px;
  overflow-y: auto;
}

.chats-wrapper {
  width: 100%;
  background-color: #fff;
  height: calc(100% - 100px);
  overflow-y: auto;
  padding: 0 20px;
  overflow-x: hidden;
}

.chat-input-section {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.input-wrapper {
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline: none;
  max-height: 50px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

form {
  width: 100%;
}

.user-input {
  width: calc(100% - 100px) !important;
  border: none;
  background: transparent;
  outline: none;
  border-radius: inherit;
  font-size: 13px;
  color: #000;
  resize: none;
  height: 100%;
  padding: 10px;
  height: 40px;
}

#attach {
  color: gray !important;
}

.send-btn {
  width: 40px;
  height: 40px;
  background: transparent;
  color: #34eb9e;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}

.send-btn i {
  font-size: 25px;
}

.message {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
}

.message-sent {
  background-color: #fdfeff;
}

.welcome-message {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-message h1 {
  font-size: 30px !important;
}

.welcome-message-hide {
  display: none;
}

.welcome-image {
  width: 30%;
  height: 30%;
}

.welcome-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.suggested-inputs {
  width: 60%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.suggested-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.welcome-message h1 {
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif !important;
  font-weight: bold !important;
}

.welcome-message p {
  width: 70%;
  font-size: 14px;
  text-align: center;
  color: gray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.message-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.message-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 20px;
}

.response {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
}

.message {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#drop-area.highlight {
  background-color: #f1f1f1;
}

.hidden {
  display: none;
}

.upload-icon {
  font-size: 60px;
  color: #9afdd4;
}

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dropdown-wrapper p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 20px;
}

#fileInput {
  visibility: hidden;
}

.upload-image-btn {
  background: transparent;
  border: none;
  outline: none;
  color: #34eb9e;
  margin-top: 20px;
  cursor: pointer;
}

.preview-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.preview-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border-radius: inherit;
}

.submit-image-btn {
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  background-color: #9afdd4;
  color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 40px;
}

.question {
  padding: 10px;
  border-bottom: 1px solid #9afdd4;
}



.questions-container {
  height: calc(100% - 60px);
  width: 100%;
  overflow-y: auto;
  padding-right: 20px;
}
